/* General Styling */
body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 20px;
    color: #1e1d1d;
  }

  h1 {
    text-align: center;
    color: #222;
    margin-bottom: 30px;
    font-size: 36px;
  }