p {
    color: green;
    font-size: 18px;
}

body{
    background-color: cornsilk;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*this is an example of using class selectors */
.classExample{
    color: black;
    background-color: aqua;
}

/*ID selector - more specific than a class selector
*/
#main-title{
    font-size: 28px;
    color: chartreuse;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}


